/* Set style for navbar header text */
h1 {
    position: relative;
    top: 10px;
    left: 7px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;}

/* Set white background for navbar area */
.box1{
    height:70px;
    width:100%;
    background-color: white;}

/* Set teal box around navbar */
.box2{
    height:70px;
    width: 160px;
    background-color: teal !important;
    margin-left: 30px;
    color: white;}

/* Set white box around content */
.box3{
    height: 620px;
    width: 100%;
    background-color:white;
    margin-left: 30px;
    margin-top: 30px;
    position: relative;
    right: 220px;}

/* Set white box around right sidebar with visualizations */
.box4{
    height: 1000px;
    width: 100%;
    background-color: white;
    position: relative;
    left: 700px;
    bottom: 600px;}

.box5{
    height: 150px;
    width: 93%;
    background-color: white;
    margin-top: 20px;
}

.box6{
    height: 750px;
    width: 100%;
    background-color: white;
    margin-left:15px;
    padding: 15px;
}

.box7{
    height: 750px;
    width: 100%;
    background-color: white;
    margin-left:15px;
    padding: 15px; 
}

.box8{
    /*height: 750px;*/
    width: 100%;
    background-color: white;
    margin-left:15px;
    padding: 45px;   
}

body{background-color: #f1f1f1 !important;}

.col-md-8{padding: 30px;}

h2 {
    color:teal;
    margin-top: 20px;
    margin-left: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px;}

p {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 25px;}

img {padding: 15px;}

header h2 {
    font-size: 40px;
    font-weight: 300;}

.col-md-2{
    position: absolute;
    right:0;
    left:150px;}

h1 {color: white}