 /* Adding media query to hide the navbar and only show a drop-down when the screen is smaller than 600 pixels. Mobile first to increase speed. */
 @media (max-width: 600px) {
    .navbar{
        visibility: hidden}
    .navbarsm{
        visibility: visible;}
  } 

/* Adding media query to show the navbar when the screen is greater than 600 pixels */
@media (min-width: 601px) {

/* Set background color for top container */
.container1 {
    background-color: white;
    height: 80px;}

/* Set box color and float for header H1 */
.header {
    position: absolute;
    top: 8px;
    left: 0px;
    height: 80px;
    width: 150px;
    background-color: teal;
    margin-left: 30px;
    margin-top:0px;}

h1 a {
    position: relative;
    top: 15px;
    font-size: 32px;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;}

h1 {position: absolute;
    bottom: 20px;
    left: 10px;}

/* Float navbar to right and add padding*/
.navbar {
    float: right;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 30px;
    background-color: white;
    visibility: visible}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white; }
    
li {float: left; }

li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 8px 8px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

li a:hover, .dropdown:hover .dropbtn {
    background-color: darkgray; }
                  
li.dropdown {
    float: left;}
                  
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;}
                  
.dropdown-content a {
    color: black;
    padding: 8px 8px;
    text-decoration: none;
    display: block;
    text-align: left;}
                  
.dropdown-content a:hover {background-color: darkgray;}
                  
.dropdown:hover .dropdown-content {
    display: block;}

.navbarsm{
    visibility: hidden;}
}

body {background: #f1f1f1;}
  
h2 {
    color:teal;
    font-size: 40px;
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}

.container2 {
    background-color: white;
    height: 500px;
    width: 60%;
    float: left;
    margin: 20px;
}

.container3{
    background-color: white;
    height: 500px;
    width: 30%;
    float: right;
    margin: 20px;
}

.section {
    width: 100%;
    margin: 0;
    padding: 0;
}

